﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
    <div>Date From <input id="date-from" type="date" /></div>
    <div>Date To <input id="date-to" type="date" /></div>
    Filter Chart By Date & Index 
    <select id="indexNameSelect">
        <option value="">All</option>
        <option value="FTRND">FTRND</option>
        <option value="TEST2">TEST2</option>
    </select>
    <button onclick="refreshLineChart();">Filta Data</button>
    <div id="line-chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>
<div class="col-sm-12 mt20">
    Filter Pie Chart By Index 
    <select onchange="refreshPieChart();" id="indexNamePieSelect">
        <option selected>FTRND</option>
        <option>TEST2</option>
    </select>
    <div id="pie-chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>


@section Scripts{
<script src="@Url.Content("~/Scripts/plugins/highcharts/highcharts.js")"></script>
<script src="@Url.Content("~/Scripts/plugins/highcharts/modules/exporting.js")"></script>
<script src="@Url.Content("~/Scripts/Controllers/DashboardController.js")"></script>
}