﻿
@{
    ViewBag.Title = "Index Level Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script src="@Url.Content("~/app/IndexLevelData/ildController.js")"></script>
<script src="@Url.Content("~/app/IndexLevelData/ildService.js")"></script>
}
<div>
    <div ng-controller="ildController as view">
        <table datatable="" class="row-border hover dataTable no-footer">
            <thead>
                <tr>
                    <td>Index Name</td>
                    <td>Date</td>
                    <td>Stock Id</td>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Number Of Shares</td>
                    <td>Weight(Price)</td>
                    <td>Weight(%)</td>
                </tr>
            </thead>
            <tbody ng-repeat="item in view.indexLevels">
                <tr ng-repeat="ucl in item.Basket">
                    <td>{{ucl.IndexName}}</td>
                    <td>{{ucl.Date | date:'dd MMM yyyy'}}</td>
                    <td>{{ucl.StockId}}</td>
                    <td>{{ucl.Name}}</td>
                    <td>{{ucl.Price}}</td>
                    <td>{{ucl.NumberOfShares}}</td>
                    <td>{{ucl.WeightPrice}}</td>
                    <td>{{ucl.Weight}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

