﻿
@{
    ViewBag.Title = "Upload Levels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script src="~/app/UploadIndexLevels/ulController.js"></script>
}

<body ng-controller="fileUploadController">
    <h4>Upload on file select</h4>
    <button type="file" ngf-select="uploadFiles($file)"
            accept=".csv" ngf-max-height="1000" ngf-max-size="1MB">
        Select File
    </button>
    <br><br>
    File:
    <div style="font:smaller">
        {{f.name}} {{f.$error}} {{f.$errorParam}}
        <span class="progress" ng-show="f.progress >= 0">
            <div style="width:{{f.progress}}%"
                 ng-bind="f.progress + '%'"></div>
        </span>
    </div>
    {{errorMsg}}
</body>

