﻿html, body{
    background-color:#f5f5f5;
}
.page-topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1999;
    width: 100%;
    max-height: 60px;
    min-height: 60px;
    background-color: #37474f;
}
.page-topbar .logo-area {
    display: block;
    float: left;
    width: 200px;
    min-height: 60px;
    background-color: #ff6e40;
}
.page-topbar .quick-area .slantit {
    position: relative;
}
.pull-left {
    float: left!important;
}
.page-topbar .quick-area .pagetitle {
    position: relative;
}
.page-topbar .quick-area .slantit .info-menu {
    padding: 0;
    background-color: #ff6e40;
}
.page-topbar .quick-area .slantit .info-menu li {
    position: relative;
    z-index: 2;
}
.list-inline>li:first-child {
    padding-left: 0;
}
.page-topbar .quick-area .info-menu {
    height: 60px;
    padding: 0;
    margin: 0;
    line-height: 60px;
}
.page-topbar .quick-area .pagetitle .line {
    position: absolute;
    top: 15px;
    left: 55px;
    z-index: 2;
    width: 60px;
    height: 3px;
    background-color: #ff6e40;
    content: " ";
}
.page-topbar .quick-area .pagetitle h1 {
    position: relative;
    padding: 25px 45px 0 55px;
    margin: 0 0 -5px 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 35px;
    color: #455a64;
    text-shadow: 2px 2px rgba(100,100,100,0.1);
    text-transform: uppercase;
    background-color: #f5f5f5;
}
.page-topbar .quick-area .pagetitle div {
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 5px;
    padding-left: 33px;
    overflow: hidden;
    content: " ";
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.page-sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 0;
    margin-top: 60px;
    overflow: hidden;
    background-color: #37474f;
}
#main-menu-wrapper {
    position: relative;
    height: 253px;
    padding-top: 0;
    overflow: hidden;
}
.sidebar-graphs {
    padding: 0 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sidebar-graphs h5 {
    color: #b0bec5;
}
#main-content {
    display: block;
    margin-left: 200px;
}
.content-wrapper {
    display: inline-block;
    width: 100%;
    padding: 30px 20px 0 20px;
    margin-top:60px;
}
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}


.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
.mt20{
    margin-top:20px;
}