﻿<!DOCTYPE html>

<html data-ng-app="indexCalculationApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" />

    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/Scripts/plugins/angular-file-upload/ng-file-upload-shim.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/Scripts/plugins/angular-file-upload/ng-file-upload.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/app/IndexCalculationApp.js")"></script>
    @RenderSection("Scripts", false)
</head>
<body>
    <div data-ng-include="'@Url.Content("~/app/partials/topbar.html")'" class="page-topbar"></div>
    <div class="page-container row-fluid">
        <div data-ng-include="'@Url.Content("~/app/partials/leftbar.html'")" class="page-sidebar"></div>
        <section id="main-content">
            <section class="wrapper">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
            </section>
        </section>
    </div>
</body>
</html>
