﻿<div class="page-sidebar-wrapper ps-container" id="main-menu-wrapper">
    <div>
        <div class="sidebar-graphs col-md-12">
            <h4>
                <a href="/"> Upload Index Levels </a>
            </h4>
            <h4>
                <a href="../../IndexCalculation/IndexLevelData"> Index Level Data </a>
            </h4>
            <h4>
                <a href="../../IndexCalculation/Dashboard"> Dashboard </a>
            </h4>
        </div>
    </div>
</div>