﻿<div class="logo-area">
</div>
<div class="quick-area">
    <div class="pull-left slantit">
        <ul class="info-menu left-links list-inline list-unstyled">
            <li class="sidebar-toggle-wrap">
                <a href="" data-toggle="sidebar">
                    <i class="material-icons"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="pull-left pagetitle">
        <span class="line"></span>
        <h1>HSBC Project</h1>
        <div></div>
    </div>
</div>